     /* topmenu */
     #topmenu{}
     header{
         height:50px;
     }

     /* Quick */
    #quick{
        
        display:flex;
        flex-direction: row-reverse;
        align-items:center;
    }
    
     /* Nav */
     nav{
        /* height:120px; */
    }
     #depth1{ 
         display:flex;
         /* 수평정렬 */
         justify-content: center;
         /* 수직정렬 */
         align-items: center;
     }
     #depth1>li{
         width:150px;
         margin:0 50px;
     }
     #main-logo{
         display: flex;
         width:200px;
         height:200px;
         margin: auto;
         padding: auto;
     }   

     /* 검색창 라인 */

 body, input , textarea , button select  {
            font-family: '맑은 고딕', '돋움',Dotunm,'굴림',Gulim,sans-serif;
        }
        .main_top  *{
            box-sizing: border-box;
            padding: 10px;
        }
        div{
            /* display: block; */
        }
        .main_top .srch{
            /* padding-bottom: 20px; */
            /* padding: 20px 0 40px; */
            padding: 0px;
            box-sizing: border-box;
            display: block;
       
        }
        .main_top .srch > .inr{
            max-width: 1400px;
            margin: 0 auto;
        }
        .main_top .srch_wrap{
            position: relative;
            max-width: 900px;
            margin: 0 auto;
        }
        form{display: block; margin-top: 0px;}
        .main_top .srch_area{
            position: relative;
            padding-right: 105px;
            border: 2px solid rgb(42, 185, 194);
            border-radius: 20px ;
            background: white;
        }
        .srch_keyword{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 30px;
            width: 105px;
            height: 27px;
            margin: auto;
            color: transparent;
            overflow: hidden;
        }
        .s_word{
            width: 100%;
            padding: 0 30px;
            border: 0;
            background: none;
            font-size: 28px;
            color: #09A958;
        }
        .main_top .srch_area .btn_srch {
            position: absolute;
            top: -2px;
            right: -2px;
            bottom: -2px;
            overflow: hidden;
            width: 126px;
            border-radius: 20px 0;
            background: rgb(42, 185, 194) url(../img/btn_srch.png) no-repeat 50% 50%;
            color: transparent;
        }

        .btn_srch{
            cursor: pointer;
            border: 0;
        }
        #srch{
            padding: 0px;
        }
        input{
            border: 0 solid black
        }
        #s_word{
            width: 100%;
        }

        /* 네이게이션 // 메뉴창 */
        nav a{
            text-decoration: none;
            color: black;
            /* margin: 1em; */
            font-size: 1.5rem;
            
            
            
        }
        #depth1{
            
            /* border-top: 5px solid gray; */
            border-bottom: 3.5px solid gray;
        }
        .mid-menu
        {
            text-align: center;
            justify-content: center;
            display: flex;
            /* top: 60px;
            left: 30px;
            height: 4px;
            width: 100%;
            background-color:rgb(42, 185, 194) ; */
            width: 100%;
             
           
        }
        .mid-menu >li{
            margin: 00px;
            width: 300px;
            height: 100px;
            line-height: 80px;
        }
         /* 행오버 추가 */
         .mid-menu > li:hover a {
         color: black; font-weight: bold;
        
        border-bottom: 5px solid rgb(42, 185, 194);

          }
         .mid-menu{
       
        }
         .mid-menu >ul{
            display: inline-block;
         }
         #footimg{
            width: 100px;
            height: 100px;
            background-color: white;
        }