*{
    /* border : 1px solid gray; */
    /* margin:5px; */
}
body:not(#banner-slider){
    /* width:85%; */
    /* margin:0px auto; */
}
ul{
    list-style:none;
    padding:0px;
}

.menu_line1{
    margin-left: 2%;
    width: 480px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.smt_area{
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
}
.main_cen{
    margin-left: 59.5;
}
.slide{
    width: 1400px;
    max-width: 1400px;
    padding: 20px;
}
#map{
    margin-top: 20px;
    display: flex;
    position: absolute;
    left: 195px;
}
img{
    /* width: 500px; height: 400px;  */
    width: 100%;
    height: 400px;
    margin: 0px;
    
}
li{
    padding: 10px; margin: 0px 5px;
}
.tmp{
    height: 400px; width: 500px; margin: 0px;
}
#container{
     top: 100px;
}
.menu_line2{
    width: 480px;
  margin-left: 14%;
  margin-top: 200px;
  }
  .card{
      width: 320px;
      height: 250px;
      position: relative;
      margin: 50px ;
      margin-top: 50px;
      margin-bottom: 70px;
   
  }
  .card img{
      width: 100%;
      height: 100%;
      filter: scale(100%);
  }
  .card:hover{
      transform: scale(1.1,1.1);
      transition: 0.5s;
      filter: scale(0%);
      
      color: black; font-weight: bold;
  }
  
  .iteminfo{
      width: 300px;
      height: 90px;
      position: absolute;
      left: 0px;
      top: 170px;
      background-color: rgb(220, 239, 246);
      margin-top: 50px;
      /* box-shadow: 0px 0px 14xp 4px black; */
      padding: 10px;
      
  }
  /* 글짜 크기 키우기  */
  .iteminfo span,p{font-size: 1rem;}

  .cards{
      margin-left: 150px;
      display: flex;
      flex-wrap: wrap;

      margin-bottom: 100px;
  }
