.hot {
  height: 100px;
  width: 100px;
  background-image: url(../img/spicy.png);
  background-size: 100%;
  margin: 0;
}

.nhot {
  height: 100px;
  width: 100px;
  background-image: url(../img/mild.png);
  background-size: 100%;
}
.ncool {
  height: 100px;
  width: 100px;
  background-image: url(../img/warm.png);
  background-size: 100%;
}
.cool {
  height: 100px;
  width: 100px;
  background-image: url(../img/cool.png);
  background-size: 100%;
}
.han {
  height: 100px;
  width: 100px;
  background-image: url(../img/korean.png);
  background-size: 100%;
}
.yang {
  height: 100px;
  width: 100px;
  background-image: url(../img/western.png);
  background-size: 100%;
}
.jong {
  height: 100px;
  width: 100px;
  background-image: url(../img/chinese.png);
  background-size: 100%;
}
.lul {
  height: 100px;
  width: 100px;
  background-image: url(../img/japanese.png);
  background-size: 100%;
}
.br {
  height: 100px;
  width: 100px;
  background-image: url(../img/bread.png);
  background-size: 100%;
}
.ri {
  height: 100px;
  width: 100px;
  background-image: url(../img/rice.png);
  background-size: 100%;
}
.nu {
  height: 100px;
  width: 100px;
  background-image: url(../img/noodle.png);
  background-size: 100%;
}
.D {
  height: 100px;
  width: 100px;
  background-image: url(../img/ricecake.png);
  background-size: 100%;
}
