   /* footer */
   footer{
    height:300px;
}
footer{
    background-color: rgb(251, 255, 255);
    border-top: 1px solid lightgray;
    
}
#footer-menu>span{
 margin-left: 10px;
 margin-right: 20px;
 font-size: 1rem;
}
#top-element{
    margin-top: 50px;

}