.slider{
    
    width: 640px;
    height: 480px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    justify-content: center;
}
.slider input[type=radio]{
    display: none;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;	
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

.imgs{
    padding: 0;
    margin: 0;
}
.imgs li{
    position: absolute;
    left: 640px;
    transition-delay: 1s;
    list-style: none;
    padding: 0;
    margin: 0;
}

.bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 2;
}
.bullets label{
    display: inline-block;
    border-radius: 50%;
    background-color: gray;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

.prev{
    border-radius: 3px 0 0 3px;;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }


.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: black;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: black;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: black;
}

.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    left: 0;
    transition: 1s;
    z-index:1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    left: 0;
    transition: 1s;
    z-index:1;
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    left: 0;
    transition: 1s;
    z-index:1;
}
